opencv-python
langchain
langchain-openai #for paid version
langchain_google_genai #for paid version
langchain-community
python-dotenv
pyaudio
soundfile
SpeechRecognition
streamlit
json
speech_recognition
io
base64
os
requests
dotenv
langchain.prompts
langchain.schema.messages
langchain_community.chat_message_histories
langchain_community.llms
langchain_core.output_parsers
langchain_core.runnables.history
langchain.tools
